# RTSP stream configuration
# Note: If your username or password contains '@', use '%40' instead.
FRIGATE_RTSP_PATH=rtsp://USER:PASSWORD@IP/STREAM_URI

# Grocy API credentials
GROCY_API_KEY=YOUR_GROCY_API_KEY_HERE
