# Configuración del Stream RTSP
# Nota: Si tu usuario o contraseña contiene '@', usa '%40' en su lugar.
FRIGATE_RTSP_PATH=rtsp://USER:PASSWORD@IP/STREAM_URI

# Credenciales de la API de Grocy
GROCY_API_KEY=YOUR_GROCY_API_KEY_HERE